@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">


    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="/plugins/magnific-popup/dist/magnific-popup.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style2.css">

</head>
<body>
<header class="navigation">
    <nav class="navbar sticky-top navbar-expand-lg bg-black" id="navbar">
        <div class="">
            <a class="nav-link " asp-area="" asp-page="/Index">
                <span class="h1 color-four">
                    Scan<span class="text-white">Bank</span>
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse text-center justify-content-between" id="navbarsExample09">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User) == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                }
               
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") || User.IsInRole("Cashier"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/CustomerPages/Customers">Customers</a>
                    </li>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/AdminPages/SystemUsers">Admin page</a>
                    </li>
                }

                <li>
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>

            <partial name="_LoginPartial" class="nav-link text-white"/>

        </div>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
    </nav>


</header>

<div class="container2">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="">
        &copy; 2022 - Per Görtz - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<!-- Main jQuery -->
<script src="/plugins/jquery/jquery.js"></script>
<script src="/js/contact.js"></script>
<!-- Bootstrap 4.3.1 -->
<script src="/plugins/bootstrap/js/popper.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--  Magnific Popup-->
<script src="/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<!-- Slick Slider -->
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Counterup -->
<script src="/plugins/counterup/jquery.waypoints.min.js"></script>
<script src="/plugins/counterup/jquery.counterup.min.js"></script>

<script src="/js/script.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<partial name ="_ValidationScriptsPartial"/>
@await Component.InvokeAsync("NToastNotify")
</body>

</html>