@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
    <p>Customers: @Model.Customers.Count()</p>
    <p>Total Accounts: @Model.Accounts.Count()</p>
    @{
        decimal sum = 0;
    }
    @foreach(var account in Model.Accounts)
    {
        sum += account.Balance;
        
    }
    <p>Total bank funds: @sum.ToString("C")</p>

    
</div>

