html{
    scroll-behavior:smooth;
    height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
}
body {
    background-image: linear-gradient(#99a9d1, #ffffff);
    background-attachment: fixed;
    min-height: 100%;
    position: relative;
}


.field-validation-error.error-text {
    color: red;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
    box-shadow: none;
    height: auto;
    outline: none;
}

.bg-img {
    background: url("../images/about/Norden_lights.jpg") no-repeat;
    background-size: cover;
    padding: 200px 0 280px 0;
    position: relative;
}
.container-2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.search-input {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
}


