@page
@model BankStartWeb.Pages.Transactions.WithdrawalModel
@{
}
<h1>Account number:@Model.AccountId</h1>
<form method="post">
    
    <div class="form-group">
        <label asp-for="Type">Cardtype</label>
        <select class="form-control" asp-for="Type" asp-items="@Model.AllTypes">

        </select>
        <span asp-validation-for="Type" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type">Operation</label>
        <select class="form-control" asp-for="Operation" asp-items="@Model.AllOperations">

        </select>
        <span asp-validation-for="Operation" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" class="form-group"/>
        <span asp-validation-for="Amount"></span>
    </div>
    <button class="btn btn-primary" type="submit" asp-route-customerId ="@Model.CustomerId"asp-route-accountId ="@Model.AccountId">Make deposit</button>
</form>
